<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.user.todolist">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:name=".MainApplication">

        <activity
            android:name=".MainActivity"
            android:label="TA-DA!">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".CreateEntry"
            android:label="Add a new list"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".ViewLists"
            android:label="Add a new item"
            android:parentActivityName=".CreateEntry" />
        <activity
            android:name=".About"
            android:label="Everything you need to know about 2dew"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".IndividualList"
            android:label=""
            android:parentActivityName=".ViewLists" />
        <activity
            android:name=".DisplayListItems"
            android:label="display list items"
            android:parentActivityName=".ViewLists" />

    </application>
</manifest>
